<% content_for :page_title, "Create new Release task" %>

<h1>Create new Release task</h1>

<%= semantic_form_for @task, url: tasks_path(application_id: @task.application.id) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :version, label: "Version" %>
    <%= f.input :description, label: "Description" %>
  <% end %>

  <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>
