<% content_for :page_title, "#{@task.application.name} - #{@task.version}"  %>

<h1><%= @task.application.name %> - <%= @task.version %></h1>

<dl>
  <dt>Version:</dt>
  <dd><%= @task.version %></dd>

  <dt>Description:</dt>
  <dd><%= @task.description %></dd>

  <dt>Release:</dt>
  <dd><%= @task.release %></dd>
</dl>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @task.id }, class: "btn" %>
</div>
