<table id="application-list" class="govuk-table" data-module="filterable-table">
  <thead class="govuk-table__head">
    <tr class='govuk-table__row'>
      <th scope="col" class="govuk-table__header">Name</th>

      <th scope="col" class="govuk-table__header">In&nbsp;sync?</th>
      <% @environments.each do |environment| %>
        <th scope="col" class="govuk-table__header"><%= environment.humanize %></th>
      <% end %>
    </tr>
    <tr class="if-no-js-hide table-header-secondary">
      <td colspan="5">
        <form>
          <label for="applications-filter" class="visually-hidden">Filter applications</label>
          <input id="applications-filter" type="text" class="govuk-input js-filter-table-input" placeholder="Filter applications">
        </form>
      </td>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @applications.each do |application| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
          <%= link_to application.name, application, class: 'js-open-on-submit' %>
        </th>

        <td class="govuk-table__cell <%= application.staging_and_production_in_sync? ? "in-sync" : "not-in-sync" %>">
          <%= application.staging_and_production_in_sync? ? "Yes" : "No" %>
        </td>

        <% @environments.each do |environment| %>
          <% latest_deploy = application.latest_deploy_to_each_environment[environment] %>
          <td class="govuk-table__cell <%= latest_deploy.try(:recent?) ? "deployed-recently" : "" %>" title="<%= latest_deploy.try(:created_at) || '' %>">
            <% if latest_deploy %>
              <%= github_tag_link_to(application, latest_deploy.version) %>
              <br/><span class="text-muted">
                <%= human_datetime(latest_deploy.created_at) %>
              </span>
              <%= link_to(github_compare_to_master(application, latest_deploy), target: "_blank", class: "compare") do %>
                <i class="glyphicon glyphicon-random" title="Compare to master"></i>
              <% end %>
            <% else %>
              N/A
            <% end %>
            <% if current_user.may_deploy? %>
              <%= link_to(new_application_deployment_path(application, environment: environment)) do %>
                <i class="glyphicon glyphicon-plus pull-right" title="Add a missing deployment"></i>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
