<%= render "govuk_publishing_components/components/input", {
  label: {
    text: "Filter applications"
  },
  name: "applications-filter",
  type: "search",
  search_icon: true,
  autofocus: true,
  tabindex: 0
} %>

<div class="release__applications-table" data-filter-applications>
  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "Applications", { caption_classes: "govuk-visually-hidden" }) do |t| %>
    <%= t.head do %>
      <%= t.header "Name" %>
      <%= t.header "Status" %>
      <% @environments.each do |environment| %>
        <%= t.header environment.humanize %>
      <% end %>
    <% end %>

    <%= t.body do %>
      <% @applications.each do |application| %>
        <%= t.row do %>
          <% application_name = capture do %>
            <%= link_to application.name, application, class: "govuk-link release__application-link", data: { "filter-applications-link": "" } %> </br>
            <%= render partial: "shared/badges", locals: { application: application } %>
          <% end %>

          <%= t.cell application_name %>

          <% application_status = capture do %>
            <p class="govuk-body-s application-status application-status-<%= application.status %>"><%= t("application_status.#{application.status}") %></p>
          <% end %>

          <%= t.cell application_status %>

          <% @environments.each do |environment| %>
            <% latest_deploy = application.latest_deploys_by_environment[environment] %>
            <% env_deploy = capture do %>
              <% if latest_deploy %>
                <p class="govuk-body-s govuk-!-margin-bottom-1"><%= github_tag_link_to(application, latest_deploy.version) %></p>
                <p class="govuk-body-s govuk-!-margin-bottom-1"><%= human_datetime(latest_deploy.created_at) %></p>
                <%= link_to(github_compare_to_default(application, latest_deploy), target: "_blank", class: "compare govuk-link govuk-body-s") do %>
                  <%= octicon "git-compare", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-label": "Compare to #{application.default_branch}" %>
                <% end %>
              <% else %>
                <p class="govuk-body-s">N/A</p>
              <% end %>
            <% end %>
            <%= t.cell env_deploy %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
