<%= form_for @application do |f| %>
    <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Application name"
    },
    name: "application[name]",
    value: @application.name,
    error_message: @application.errors[:name].first,
  } %>

  <%= render "govuk_publishing_components/components/select", {
    id: "default_branch",
    label: "GitHub repository default branch",
    name: "application[default_branch]",
    error_message: @application.errors[:default_branch].first,
    options: Application.default_branches.map do |(id, label)|
      {
        text: label,
        value: id,
        selected: @application.default_branch == label,
      }
    end
  } %>

  <%= render "govuk_publishing_components/components/textarea", {
    label: {
      text: "Status notes"
    },
    hint: "Use for deploy instructions and deploy freezes",
    name: "application[status_notes]",
    value: @application.status_notes,
    error_message: @application.errors[:status_notes].first,
  } %>

  <% hint_text = capture do %>
    Adds 'Automatic deployments disabled' badge in the Release app.
    
    <% unless current_page?(action: 'new') %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            Continuous deployment between each environment has to be disabled or enabled via <%= link_to "GitHub action", "#{@application.repo_url}/actions/workflows/set-automatic-deploys.yml", class: "govuk-link" %>.
        </strong>
      </div>
    <% end %>
  <% end %>

  <input type="hidden" name="application[deploy_freeze]" value="0" />
  <%= render "govuk_publishing_components/components/checkboxes", {
    name: "application[deploy_freeze]",
    items: [
      {
        label: "Freeze deployments?",
        value: "1",
        checked: @application.deploy_freeze?,
        hint: hint_text,
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: @application.new_record? ? "Create Application" : "Update application",
    margin_bottom: 4,
  } %>
<% end %>

<% unless current_page?(action: 'new') %>
  <%= form_for @application, method: :delete do |f| %>
    <%= render "govuk_publishing_components/components/button", {
        text: "Delete application",
        destructive: true,
        data_attributes: { confirm: "Are you sure you wish to delete this application?" },
        info_text: "You can remove this app if it is retired.",
      } %>
  <% end %>
<% end %>
