<% content_for :page_title, @application.name %>

<div class="release__application-header">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      root_crumb,
      application_node_crumb(application: @application),
      {
        title: "Deploy #{@application.name}"
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/title", {
    title: "Deploy #{@application.name}",
    context: @application.shortname,
    margin_bottom: 2
  } %>
  <%= render partial: "shared/badges", locals: { application: @application } %>
</div>

<%= render 'status_notes', application: @application %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Candidate Release: #{@release_tag}",
  margin_bottom: 4
} %>

<% if @production_deploy %>
  <p class="govuk-body">Production is on <%= @production_deploy.version %> &mdash; deployed at <%= human_datetime(@production_deploy.created_at) %></p>
<% else %>
  <p class="govuk-body">Production is not deployed yet!</p>
<% end %>

<% if @production_deploy %>
  <div class="release__view-diff">
    <%= render "govuk_publishing_components/components/button", {
      text: "View full diff",
      secondary: true,
      href: @application.repo_compare_url(@production_deploy.version, @release_tag)
    } %>
  </div>

  <% if @github_available %>
    <p class="govuk-body"><%= @commits.length %> <%= 'commit'.pluralize(@commits.length) %></p>

    <%= render "shared/commits_table", commits: @commits %>
  <% else %>
    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <div class="application-notice help-notice">
        <p>Couldn't get data from GitHub:</p>
        <p><%= @github_error %></p>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Deploy",
  margin_bottom: 4
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <img title="Obey the Badger of Deploy" src="<%= asset_path('obey.jpg') %>" alt="Obey the Badger of Deploy" width="229" height="320">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Deploy to Staging",
      margin_bottom: 4,
      heading_level: 3
    } %>
    <p class="govuk-body">
      <%= octicon "graph", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-hidden": "true" %>
      <a target="_blank" href="<%= dashboard_url(@application, "integration") %>" class="govuk-link">Integration dashboard</a>:
      Monitor your deployment to check that it hasn't caused any problems.
    </p>
    <p class="govuk-body">
      <%= octicon "circuit-board", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-hidden": "true" %>
      <a target="_blank" href="<%= smokey_url(@application, "integration") %>" class="govuk-link">Integration smokey</a>:
      Run Smokey in Integration and check your deploy didn't cause any problems.
    </p>
    <%= render "govuk_publishing_components/components/button", {
      text: "Deploy to Staging",
      href: jenkins_deploy_url(@application, @release_tag, "staging"),
      target: "_blank",
      margin_bottom: true
    } %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Deploy to Production",
      margin_bottom: 4,
      heading_level: 3
    } %>
    <p class="govuk-body">
      <%= octicon "graph", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-hidden": "true" %>
      <a target="_blank" href="<%= dashboard_url(@application, "staging") %>" class="govuk-link">Staging dashboard</a>:
      Monitor your deployment to check that it doesn't cause any problems.
    </p>
    <p class="govuk-body">
      <%= octicon "circuit-board", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-hidden": "true" %>
      <a target="_blank" href="<%= smokey_url(@application, "staging") %>" class="govuk-link">Staging smokey</a>:
      Run Smokey in Staging and check your deploy didn't cause any problems.
    </p>
    <%= render "govuk_publishing_components/components/button", {
      text: "Deploy to Production",
      href: jenkins_deploy_url(@application, @release_tag, "production"),
      target: "_blank",
      destructive: true,
      margin_bottom: true
    } %>

    <%= render "govuk_publishing_components/components/heading", {
      text: "Monitor Production",
      margin_bottom: 4,
      heading_level: 3
    } %>
    <p class="govuk-body">
      <%= octicon "graph", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-hidden": "true" %>
      <a target="_blank" href="<%= dashboard_url(@application, "production") %>" class="govuk-link">Production dashboard</a>:
      Monitor your deployment to check that it doesn't cause any problems.
    </p>
    <p class="govuk-body">
      <%= octicon "circuit-board", height: '20px', style: "vertical-align: middle; margin-right: 4px;", "aria-hidden": "true" %>
      <a target="_blank" href="<%= smokey_url(@application, "production") %>" class="govuk-link">Production smokey</a>:
      Run Smokey in Production and check your deploy didn't cause any problems.
    </p>
  </div>
</div>
