<% content_for :page_title, @application.name %>

<%= render "govuk_publishing_components/components/back_link", { href: application_path(@application) } %>

<%= title "Deploy #{@application.name}" %>

<%= render 'status_notes', application: @application %>

<% unless @application.staging_and_production_in_sync? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon govuk-circle" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        Production and Staging are not in sync<br/>
        Proceed with caution and check the <a href="<%= @application.repo_compare_url('deployed-to-production', 'deployed-to-staging') %>">differences between production and staging</a>
    </strong>
  </div>
<% end %>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Deploying release tag</th>
      <td class="govuk-table__cell release-tag"><%= @release_tag %></td>
    </tr>

    <% if @production_deploy %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Current production release</th>
        <td class="govuk-table__cell current-release"><%= @production_deploy.version %> (deployed at <%= human_datetime(@production_deploy.created_at) %>)</td>
      </tr>

      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number of commits</th>
        <td class="govuk-table__cell "><%= @commits.length %> <%= 'commit'.pluralize(@commits.length) %> (<%= link_to "Full diff on GitHub", @application.repo_compare_url(@production_deploy.version, @release_tag), target: "_blank" %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.may_deploy? %>
  <%= h2 "Deploy" %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <img title="Obey the Badger of Deploy" src="<%= asset_path('obey.jpg') %>" alt="Obey the Badger of Deploy" width="229" height="320">
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= h3 "Test on Staging" %>
      <% if @staging_dashboard_url %>
        <p>
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <a target="_blank" href="<%= @staging_dashboard_url %>">Staging dashboard</a>:
          monitor your deployment to check that it doesn't cause any problems.
        </p>
      <% end %>
      <p><a class="govuk-button" target="_blank" href="<%= jenkins_deploy_url(@application, @release_tag, "staging") %>">Deploy to Staging</a></p>

      <%= h3 "Promote to Production" %>

      <% if @production_dashboard_url %>
        <p>
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <a target="_blank" href="<%= @production_dashboard_url %>">Production dashboard</a>:
          monitor your deployment to check that it doesn't cause any problems.
        </p>
      <% end %>
      <p><a class="govuk-button" target="_blank" href="<%= jenkins_deploy_url(@application, @release_tag, "production") %>">Deploy to Production</a></p>
    </div>
  </div>
<% end %>

<% if @production_deploy %>
  <%= h2 "Commits" %>

  <% if @github_available %>
    <table class="govuk-table" data-module="filterable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" width="10%">Hash</th>
          <th class="govuk-table__header" scope="col" width="55%">Message</th>
          <th class="govuk-table__header" scope="col" width="20%">Author</th>
          <th class="govuk-table__header" scope="col" width="15%">Date</th>
        </tr>
        <tr class="if-no-js-hide table-header-secondary">
            <td colspan="4">
              <form>
                <label for="table-filter" class="visually-hidden">Filter commits</label>
                <input id="table-filter" type="text" class="govuk-input normal js-filter-table-input" placeholder="Filter commits">
              </form>
            </td>
          </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @commits.each do |commit| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= link_to commit[:sha][0..8], "#{@application.repo_url}/commit/#{commit[:sha]}", target: "_blank" %>
            </td>

            <th class="govuk-table__header">
              <% summary, body = commit[:commit][:message].split(/\n/, 2) %>
              <a href="<%= "#{@application.repo_url}/commit/#{commit[:sha]}" %>" target="_blank"><%= summary %></a>
            </td>

            <td class="govuk-table__cell">
              <% if commit[:author] %>
                <img height="20" width="20" class="avatar" src="<%= commit[:author][:avatar_url] %>" alt="" />
              <% end %>
              <% if commit[:commit][:author] %>
                <span class="name">
                  <%= commit[:commit][:author][:name] %>
                </span>
              <% end %>
            </td>

            <td class="govuk-table__cell">
              <% if commit[:commit][:author] %>
                <% commit_date = commit[:commit][:author][:date] %>
                <span class="date"><%= commit_date.to_date.to_s(:short) =%></span>
                <span class="time"><%= commit_date.to_s(:govuk_time) =%></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-error">
      <div>Couldn't get data from GitHub:</div>
      <div><%= @github_error %></div>
    </div>
  <% end %>
<% end %>
