<% content_for :page_title, @application.name %>

<div class="page-header">
  <h1 class="remove-bottom-margin">
    <span class="name">Deploy <%= @application.name %></span>
    <span class="shortname">(<%= @application.shortname %>)</span>
    <%= render partial: "provider_badge", locals: { application: @application } %>
  </h1>
  <%= link_to @application.repo_url, @application.repo_url, target: "_blank" %>
</div>

<main>
  <%= render 'status_notes', application: @application %>

  <h2>Candidate Release <span class="label label-info"><%= @release_tag %></span></h2>
  <% if @production_deploy %>
    <p class="lead add-top-margin">Production is <span class="label label-danger"><%= @production_deploy.version %></span> &mdash; deployed at <%= human_datetime(@production_deploy.created_at) %></p>
  <% else %>
    <p class="lead add-top-margin">Production is <span class="label label-danger">not deployed yet</span>!</p>
  <% end %>

  <% if @production_deploy %>
    <p class="pull-right">
      <a class="btn btn-default" href="<%= @application.repo_compare_url(@production_deploy.version, @release_tag) %>">
        <i class="glyphicon glyphicon-new-window add-right-margin"></i>Full Diff
      </a>
    </p>

    <p class="lead"><%= @commits.length %> <%= 'commit'.pluralize(@commits.length) %></p>

    <% if @github_available %>
      <%= render "shared/commits_table", commits: @commits %>
    <% else %>
      <div class="alert alert-error">
        <div>Couldn't get data from GitHub:</div>
        <div><%= @github_error %></div>
      </div>
    <% end %>
  <% end %>

  <h2>Deploy</h2>
  <div class="row">
    <div class="col-md-3">
      <img title="Obey the Badger of Deploy" src="<%= asset_path('obey.jpg') %>" alt="Obey the Badger of Deploy" width="229" height="320">
    </div>

    <div class="col-md-9">
      <% if @application.shortname == 'puppet' %>
        <h3>Test on Staging</h3>
        <p>
          <a class="btn btn-primary add-bottom-margin"
             target="_blank"
             href="<%= jenkins_deploy_puppet_url(@release_tag, "staging", aws: false) %>">
            Deploy to Staging (Carrenza)
          </a>
          <a class="btn btn-primary add-bottom-margin"
             target="_blank"
             href="<%= jenkins_deploy_puppet_url(@release_tag, "staging", aws: true) %>">
            Deploy to Staging (AWS)
          </a>
        </p>

        <h3>Promote to Production</h3>
        <p>
          <a class="btn btn-danger"
             target="_blank"
             href="<%= jenkins_deploy_puppet_url(@release_tag, "production", aws: false) %>">
            Deploy to Production (Carrenza)
          </a>
          <a class="btn btn-danger"
             target="_blank"
             href="<%= jenkins_deploy_puppet_url(@release_tag, "production", aws: true) %>">
            Deploy to Production (AWS)
          </a>
        </p>
      <% else %>
        <h3>Test on Staging</h3>
        <% if @staging_dashboard_url %>
          <p>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            Monitor your deployment to check that it doesn't cause any problems, via the
            <a target="_blank" href="<%= @staging_dashboard_url %>">Staging dashboard</a>.
          </p>
        <% end %>
        <p>
          <a class="btn btn-primary add-bottom-margin"
             target="_blank"
             href="<%= jenkins_deploy_app_url(@application, @release_tag, "staging") %>">
            Deploy to Staging
          </a>
        </p>

        <h3>Promote to Production</h3>
        <% if @production_dashboard_url %>
          <p>
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            <a target="_blank" href="<%= @production_dashboard_url %>">Production dashboard</a>:
            monitor your deployment to check that it doesn't cause any problems.
          </p>
        <% end %>
        <p>
          <a class="btn btn-danger"
             target="_blank"
             href="<%= jenkins_deploy_app_url(@application, @release_tag, "production") %>">
            Deploy to Production
          </a>
        </p>
      <% end %>
    </div>
  </div>

</main>
