<% content_for :page_title, "#{@release_tag} - #{@application.name}" %>

<div class="release__application-header">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      root_crumb,
      application_node_crumb(application: @application),
      {
        title: "Deploy #{@release_tag}"
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/title", {
    title: "Deploy #{@release_tag}",
    context: @application.name,
    margin_bottom: 2
  } %>
  <%= render partial: "shared/badges", locals: { application: @application } %>
</div>

<%= render 'status_notes', application: @application %>

<%= render "govuk_publishing_components/components/button", {
  text: "Deploy this release",
  href: "https://github.com/#{@application.repo}/actions/workflows/deploy.yml",
  target: "_blank",
  margin_bottom: true
} %>

<% if @production_deploy %>
  <p class="govuk-body">Production is on <%= @production_deploy.version %> &mdash; deployed at <%= human_datetime(@production_deploy.created_at) %></p>
<% else %>
  <p class="govuk-body">Production is not deployed yet!</p>
<% end %>

<% if @production_deploy %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Release changes",
    margin_bottom: 4
  } %>

  <div class="release__view-diff">
    <%= render "govuk_publishing_components/components/button", {
      text: "View full diff",
      secondary: true,
      href: @application.repo_compare_url(@production_deploy.version, @release_tag)
    } %>
  </div>

  <% if @github_available %>
    <p class="govuk-body"><%= @commits.length %> <%= 'commit'.pluralize(@commits.length) %></p>

    <%= render "shared/commits_table", commits: @commits %>
  <% else %>
    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <div class="application-notice help-notice">
        <p>Couldn't get data from GitHub:</p>
        <p><%= @github_error %></p>
      </div>
    <% end %>
  <% end %>
<% end %>

