<% content_for :page_title, @application.name %>

<%= title @application.name %>

<ul class="tabs">
  <li>
    <%= link_to "Deploy status", @application %>
  </li>
  <li class="active">
    <%= link_to "Edit", edit_application_path(@application) %>
  </li>
  <li>
    <%= link_to "Recent deployments", application_deployments_path(@application) %>
  </li>
</ul>

<%= h2 "Edit" %>

<%= render "form", application: @application %>
