<% content_for :page_title, @application.name %>

<div class="release-header">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      root_crumb,
      application_node_crumb(application: @application),
      {
        title: "Edit #{@application.name}"
      }
    ]
  } %>
  <%= render "govuk_publishing_components/components/title", {
    title: "Edit #{@application.name}",
    context: @application.shortname,
    margin_bottom: 0
  } %>
  <%= render partial: "provider_badge", locals: { application: @application } %>
</div>

<ul class="tabs">
  <li>
    <%= link_to "Deploy status", @application %>
  </li>
  <li class="active">
    <%= link_to "Edit", edit_application_path(@application) %>
  </li>
  <li>
    <%= link_to "Recent deployments", application_deployments_path(@application) %>
  </li>
  <li>
    <%= link_to "Stats", stats_application_path(@application) %>
  </li>
</ul>


<%= render partial: "form", locals: { application: @application } %>
