<% content_for :page_title, "Applications" %>

<h1>Applications</h1>

<table id="application-list" class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th scope="col" class="headerSortDown">Name</th>
      <th scope="col">In sync?</th>
      <% @environments.each do |environment| %>
        <th scope="col"><%= environment.humanize %></th>
      <% end %>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td>
          <%= link_to application.name, application %>
        </td>
        <td class="<%= application.staging_and_production_in_sync? ? "in-sync" : "not-in-sync" %>">
          <%= application.staging_and_production_in_sync? ? "Yes" : "No" %>
        </td>
        <% @environments.each do |environment| %>
          <% latest_deploy = application.deployments.last_deploy_to(environment) %>
          <td class="<%= latest_deploy.try(:recent?) ? "deployed-recently" : "" %>" title="<%= latest_deploy.try(:created_at) || '' %>">
            <% if latest_deploy %>
              <%= github_tag_link_to(application.repo, latest_deploy.version) %> 
              <span class="muted">
                at
                <%= human_datetime(latest_deploy.created_at) %>
              </span>
              <%= link_to(github_compare_to_master(latest_deploy), target: "_blank", class: "compare") do %>
                <i class="icon-random" title="Compare to master"></i>
              <% end %>
            <% else %>
              N/A
            <% end %>
            <%= link_to(new_application_deployment_path(application, environment: environment)) do %>
              <i class="icon-edit pull-right" title="Add a missing deployment"></i>
            <% end %>
          </td>
        <% end %>
        <td class="notes">
          <%= application.status_notes %>
          <!-- Button to trigger modal -->
          <a href="#edit-notes-app-<%= application.id %>" role="button" data-toggle="modal">
            <i class="icon-edit pull-right" title="Edit notes"></i>
          </a>

          <!-- Modal -->
          <div id="edit-notes-app-<%= application.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-notes-app-<%= application.id %>Label" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="edit-notes-app-<%= application.id %>Label">Edit notes for <%= application.name %></h3>
            </div>
            <%= form_for application, url: update_notes_application_path(application) do |f| %>
              <div class="modal-body">
                <%= f.label :status_notes, "Notes" %>
                <%= f.text_area :status_notes, rows: 5, cols: 50, class: "span12" %>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <%= f.submit "Save", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create application', new_application_path, class: "btn btn-success" %>
