<% content_for :page_title, @application.name %>

<%= render partial: "shared/application_header", locals: { application: @application, tab: "status" } %>

<% if @application.archived %>
  <%= render "govuk_publishing_components/components/notice", {
    title: "This application has been marked as archived.",
    margin_bottom: 4,
  } %>
<% end %>

<%= render 'status_notes', application: @application %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Commit log",
  heading_level: 2,
  margin_bottom: 4,
} %>

<% if @github_available %>
  <div class="release__commits-table">
    <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "Commit log", { caption_classes: "govuk-visually-hidden" }) do |t| %>
      <%= t.head do %>
        <%= t.header "Deployed to" %>
        <%= t.header "Release tags" %>
        <%= t.header "Commit" %>
        <%= t.header "Commit SHA" %>
      <% end %>

      <%= t.body do %>
        <% latest_deploy_on_default_branch = [] %>
        <% @commits.each do |commit| %>
          <%= t.row do %>
            <% tags = @tag_names_by_commit.fetch(commit[:sha], []) %>
            <% commit_deployments = capture do %>
              <% @application.latest_deploys_by_environment.each do |environment, deployment| %>
                <% if tags.include?(deployment.version) || deployment.commit_match?(commit[:sha]) %>
                  <% latest_deploy_on_default_branch << environment %>
                  <p class="govuk-body-xs govuk-!-margin-bottom-1 release__commits-message">
                    <span class="release__commits-label release__commits-label--<%= 'production' if deployment.to_live_environment? %>"><%= deployment.environment.humanize %></span>
                    <span>at <%= time_tag(deployment.created_at, human_datetime(deployment.created_at)) %></span>
                  </p>
                <% end %>
              <% end %>
            <% end %>

            <%= t.cell commit_deployments || "" %>

            <% commit_tags = capture do %>
              <% tags.each do |tag| %>
                <a class="govuk-link govuk-body-s" href="<%= deploy_application_path(@application) %>?tag=<%= tag %>"><%= tag %></a>
              <% end %>
            <% end %>

            <%= t.cell commit_tags || "" %>

            <% commit_message = capture do %>
              <p class="govuk-body-s govuk-!-margin-bottom-0">
                <%= commit[:commit][:message].split(/\n/)[0] %>
                <% if commit[:commit][:author] %>
                  <span class="release__commits-author">
                    <%= commit[:commit][:author][:name] %>
                  </span>
                <% end %>
              </p>
            <% end %>

            <%= t.cell commit_message %>
            <%= t.cell link_to(commit[:sha][0..8], "#{@application.repo_url}/commit/#{commit[:sha]}", target: "_blank", class: "release__commit-hash govuk-link govuk-body-s") %>
          <% end %>
        <% end %>
        <% @application.latest_deploys_by_environment.each do |environment, deployment| %>
          <% if !latest_deploy_on_default_branch.include?(environment) %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-body-xs govuk-!-margin-bottom-1 release__commits-message">
                  <span class="release__commits-label release__commits-label--<%= 'production' if deployment.to_live_environment? %>"><%= environment.humanize %></span>
                    <span>at <%= time_tag(deployment.created_at, human_datetime(deployment.created_at)) %></span>
                </p>
                <span class="release__badge release__badge--orange">Not on default branch</span>
              </td>
              <td class="govuk-table__cell"/>
              <td class="govuk-table__cell">
                <p class="govuk-body-s govuk-!-margin-bottom-0">
                  <% latest_deployed_commit = @application.latest_commit(@application, deployment.version) %>
                  <%= latest_deployed_commit[:commit][:message] %>
                  <% if latest_deployed_commit[:commit][:author] %>
                    <span class="release__commits-author">
                      <%= latest_deployed_commit[:commit][:author][:name] %>
                    </span>
                  <% end %>
                </p>
              </td>
              <td class="govuk-table__cell">
                <p class="govuk-body-s govuk-!-margin-bottom-1">
                  <%= link_to(deployment.version[0..8], "#{@application.repo_url}/commit/#{deployment.version}", target: "_blank", class: "release__commit-hash govuk-link govuk-body-s") %>
                </p>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <div class="application-notice help-notice">
      <p>Couldn't get data from GitHub:</p>
      <p><%= @github_error %></p>
    </div>
  <% end %>
<% end %>

<% if @github_available %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Outstanding dependencies",
    heading_level: 3,
    margin_bottom: 4,
  } %>

  <div>
    <% if @outstanding_dependency_pull_requests.zero? %>
      <p class="govuk-body">There are <%= github_dependency_link_to(@application, "no outstanding dependency pull requests") %>.</p>
    <% elsif @outstanding_dependency_pull_requests == 1 %>
      <p class="govuk-body">There is <%= github_dependency_link_to(@application, "one outstanding dependency pull request") %>.</p>
    <% else %>
      <p class="govuk-body">There are <%= github_dependency_link_to(@application, "#{@outstanding_dependency_pull_requests} outstanding dependency pull requests") %>.</p>
    <% end %>
  </div>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: "What's where?",
  heading_level: 2,
  margin_bottom: 4,
} %>

<%= render "govuk_publishing_components/components/button", {
  text: "Record a missing deployment",
  href: new_application_deployment_path(@application),
  margin_bottom: true
} %>

<%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "What's where?", { caption_classes: "govuk-visually-hidden" }) do |t| %>
  <%= t.head do %>
    <%= t.header "Environment" %>
    <%= t.header "Current version" %>
    <%= t.header "Previous version" %>
  <% end %>

  <%= t.body do %>
    <% @application.latest_deploys_by_environment.each do |environment, deployment| %>
      <%= t.row do %>
        <%= t.header environment.humanize %>
        <%= t.cell "#{github_tag_link_to(@application, deployment.version)} at #{human_datetime(deployment.created_at)}".html_safe() %>
        <% previous_version = deployment.previous_deployment ? "#{github_tag_link_to(@application, deployment.previous_deployment.version)} at #{human_datetime(deployment.previous_deployment.created_at)}".html_safe() : "N/A" %>
        <%= t.cell previous_version %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
