<% content_for :page_title, @application.name %>

<h1><%= @application.name %></h1>

<dl>
  <dt>Repo:</dt>
  <dd><%= link_to @application.repo, "https://github.com/#{@application.repo}" %></dd>
</dl>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @application.id }, class: "btn" %>
</div>

<h2>Recent activity</h2>

<table class="table">
  <tbody>
    <% @application.tasks.recent_first.each do |task| %>
      <tr>
        <td><%= link_to "##{task.release.id}", release_path(task.release) %></td>
        <td><%= link_to task.description, release_path(task.release) %> v<%= task.version %></td>
        <td><%= task.release.deploy_at.strftime("%l:%M%P - %A %e %B") %></td>
      </tr>
    <% end %>
  </tbody>
</table>


