<% content_for :page_title, @application.name %>

<h1><%= @application.name %></h1>

<p>
  <%= link_to "https://github.com/#{@application.repo}", "https://github.com/#{@application.repo}", target: "_blank" %>
</p>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @application.id }, class: "btn" %>
</div>


<h2>Commit Log</h2>
<% if @github_available %>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Deployed to</th>
        <th>Tags</th>
        <th>Commit</th>
      </tr>
    </thead>
    <tbody>
      <% @commits.each do |commit| %>
        <tr>
          <% if tags = @tags_by_commit[commit[:sha]] %>
            <td>
              <% tags.each do |tag| %>
                <% if deployment = @latest_deploy_to_each_environment_by_version[tag[:name]] %>
                  <%= deployment.environment %>
                  at
                  <%= human_datetime(deployment.created_at) %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% tags.each do |tag| %>
                <span class="label label-info"><%= tag[:name] %></span>
              <% end %>
            </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td>
            <%= commit[:commit][:message].split(/\n/)[0] %>
            <span class="muted">
              <%= commit[:login] %>
            </span>
            <small>
            <%= link_to commit[:sha], "https://github.com/#{@application.repo}/commit/#{commit[:sha]}", target: "_blank", class: "pull-right" %>
            </small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-error">
    Couldn't get data from GitHub:
    <br>
    <%= @github_error %>
  </div>
<% end %>

<h2>What's where?</h2>

<p>
<%= link_to "Record a missing deployment", new_application_deployment_path(@application), class: "btn btn-success" %>
</p>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Environment</th>
      <th>Version</th>
      <th>Previous Version</th>
    </tr>
  </thead>
  <tbody>
    <% @application.latest_deploy_to_each_environment.each do |environment, deployment| %>
      <tr>
        <td><%= environment.humanize %></td>
        <td>
          <%= github_tag_link_to(@application.repo, deployment.version) %>
          at
          <%= human_datetime(deployment.created_at) %>
        </td>
        <td>
          <% if deployment.previous_deployment %>
            <%= github_tag_link_to(@application.repo, deployment.previous_deployment.version) %>
            at
            <%= human_datetime(deployment.previous_deployment.created_at) %>
          <% else %>
            N/A
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
