<% content_for :page_title, @application.name %>

<%= render partial: "shared/application_header", locals: { application: @application, tab: "status" } %>

<%= render 'status_notes', application: @application %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Where is my code?",
  heading_level: 2,
  margin_bottom: 4,
} %>

<% if @github_available %>
  <% if @k8s_available %>
    <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "Where is my code?", { caption_classes: "govuk-visually-hidden" }) do |t| %>
      <%= t.head do %>
        <%= t.header "Environment" %>
        <%= t.header "Deployed version" %>
        <%= t.header "Previous version" %>
      <% end %>

      <%= t.body do %>
        <% @k8s_data.each do |environment, data| %>
          <%= t.row do %>
            <%= t.header "#{argo_app_link_to(K8sHelper.repo_name(data["app_instance"]), environment.humanize)}".html_safe()  %>

            <% if data["image"] == "None" %>
              <%= t.cell "No running pods" %>
            <% else %>
              <% github_version = data.key?("github") ? " (Github on #{github_tag_link_to(@application, data["github"])})" : "" %>
              <% not_on_latest_release = capture do %>
                <% if github_version != "" %>
                  <span class="release__badge release__badge--orange">Not on latest release</span>
                <% end %>
              <% end  %>
              <%= t.cell "#{not_on_latest_release}#{github_tag_link_to(@application, data["image"])} at #{human_datetime(data["created_at"])}#{github_version}".html_safe()  %>
              <%= t.cell data["previous_version"] == "N/A" ? "N/A" : "#{github_tag_link_to(@application, data["previous_version"])}".html_safe() %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render "govuk_publishing_components/components/govspeak", {
    } do %>
      <div class="application-notice help-notice">
        <p>Couldn't get data from kubernetes API:</p>
        <p><%= @k8s_error %></p>
      </div>
    <% end %>
  <% end%>
<% else %>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <div class="application-notice help-notice">
      <p>Couldn't get data from GitHub:</p>
      <p><%= @github_error %></p>
    </div>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Commit log",
  heading_level: 2,
  margin_bottom: 4,
} %>

<% if @github_available %>
  <div class="release__commits-table">
    <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self, "Commit log", { caption_classes: "govuk-visually-hidden" }) do |t| %>
      <%= t.head do %>
        <%= t.header "Deployed to" %>
        <%= t.header "Release tags" %>
        <%= t.header "Commit" %>
        <%= t.header "Commit SHA" %>
      <% end %>

      <%= t.body do %>
        <% @commits.each do |commit| %>
          <%= t.row do %>
            <% commit_deployments = capture do %>
              <% commit[:deployed_to].each do |deployment| %>
                <p class="govuk-body-xs govuk-!-margin-bottom-1 release__commits-message">
                  <span class="release__commits-label release__commits-label--<%= 'production' if deployment.to_live_environment? %>"><%= deployment.environment.humanize %></span>
                  <span>at <%= time_tag(deployment.created_at, human_datetime(deployment.created_at)) %></span>
                </p>
              <% end %>
            <% end %>

            <%= t.cell commit_deployments || "" %>

            <% commit_tags = capture do %>
              <% commit[:tags].each do |tag| %>
                <a class="govuk-link govuk-body-s" href="<%= deploy_application_path(@application) %>?tag=<%= tag %>"><%= tag %></a>
              <% end %>
            <% end %>

            <%= t.cell commit_tags || "" %>

            <% commit_message = capture do %>
              <p class="govuk-body-s govuk-!-margin-bottom-0">
                <%= commit[:message] %>
                <% if commit[:author] %>
                  <span class="release__commits-author">
                    <%= commit[:author] %>
                  </span>
                <% end %>
              </p>
            <% end %>

            <%= t.cell commit_message %>
            <%= t.cell link_to(commit[:sha][0..8], commit[:github_url], target: "_blank", class: "release__commit-hash govuk-link govuk-body-s") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render "govuk_publishing_components/components/govspeak", {
  } do %>
    <div class="application-notice help-notice">
      <p>Couldn't get data from GitHub:</p>
      <p><%= @github_error %></p>
    </div>
  <% end %>
<% end %>

<% if @github_available %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Outstanding dependencies",
    heading_level: 3,
    margin_bottom: 4,
  } %>

  <div>
    <% if @outstanding_dependency_pull_requests.zero? %>
      <p class="govuk-body">There are <%= github_dependency_link_to(@application, "no outstanding dependency pull requests") %>.</p>
    <% elsif @outstanding_dependency_pull_requests == 1 %>
      <p class="govuk-body">There is <%= github_dependency_link_to(@application, "one outstanding dependency pull request") %>.</p>
    <% else %>
      <p class="govuk-body">There are <%= github_dependency_link_to(@application, "#{@outstanding_dependency_pull_requests} outstanding dependency pull requests") %>.</p>
    <% end %>
  </div>
<% end %>
