<% content_for :page_title, @application.name %>

<h1><%= @application.name %></h1>

<h2>What's where?</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Environment</th>
      <th>Version</th>
      <th>Previous Version</th>
    </tr>
  <tbody>
    <% @application.latest_deploy_to_each_environment.each do |environment, deployment| %>
      <tr>
        <td><%= environment.humanize %></td>
        <td>
          <%= deployment.version %>
          <small><%= github_tag_link_to(@application.repo, deployment.version) %></small>
          <br>
          <%= human_datetime(deployment.created_at) %>
        </td>
        <td>
          <%= deployment.previous_deployment.nil? ? "N/A" : deployment.previous_deployment.version %>
          <small><%= github_tag_link_to(@application.repo, deployment.previous_deployment.version) %></small>
          <br>
          <%= human_datetime(deployment.previous_deployment.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<dl>
  <dt>Repo:</dt>
  <dd><%= link_to @application.repo, "https://github.com/#{@application.repo}" %></dd>
</dl>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @application.id }, class: "btn" %>
</div>

<h2>Recent activity</h2>

<table class="table">
  <tbody>
    <% @application.tasks.recent_first.each do |task| %>
      <tr>
        <td><%= link_to "##{task.release.id}", release_path(task.release) %></td>
        <td><%= link_to task.description, release_path(task.release) %> v<%= task.version %></td>
        <td><%= human_datetime(task.release.deploy_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


