<% content_for :page_title, @application.name %>

<h1><%= @application.name %></h1>

<p>
  <%= link_to "https://github.com/#{@application.repo}", "https://github.com/#{@application.repo}", target: "_blank" %>
</p>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @application.id }, class: "btn" %>
</div>

<h2>What's where?</h2>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Environment</th>
      <th>Version</th>
      <th>Previous Version</th>
    </tr>
  </thead>
  <tbody>
    <% @application.latest_deploy_to("staging", "production").each do |environment, deployment| %>
      <tr>
        <td><%= environment.humanize %></td>
        <td>
          <%= github_tag_link_to(@application.repo, deployment.version) %>
          at
          <%= human_datetime(deployment.created_at) %>
        </td>
        <td>
          <% if deployment.previous_deployment %>
            <%= github_tag_link_to(@application.repo, deployment.previous_deployment.version) %>
            at
            <%= human_datetime(deployment.previous_deployment.created_at) %>
          <% else %>
            N/A
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
