<% content_for :page_title, "#{@application.name} stats" %>

<%= render partial: "shared/application_header", locals: { application: @application, tab: "stats" } %>

<div class="release__stats">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Deployments per month",
    heading_level: 2,
    margin_bottom: 4,
  } %>

  <%= line_chart @stats.per_month, width: "100%", height: "450px", legend: false, download: true %>
</div>

<div class="release__stats">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Deployments per year",
    heading_level: 2,
    margin_bottom: 4,
  } %>

  <%= column_chart @stats.per_year, width: "100%", height: "250px", legend: false, download: true %>
</div>
