<% content_for :page_title, "#{@deploy.application.name} - #{@deploy.version}"  %>

<h1><%= @deploy.application.name %> - <%= @deploy.version %></h1>

<%= semantic_form_for @deploy do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :version, label: "Version" %>
    <%= f.input :description, label: "Description" %>
  <% end %>

  <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>
