<% content_for :page_title, "Change Failure for Deployment ##{@deployment.id}" %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    root_crumb,
    { title: @deployment.application.name, href: application_path(@deployment.application) },
    { title: "Deployment ##{@deployment.id}", href: deployment_path(@deployment) },
    { title: "Change Failure" }
  ]
} %>

<%= render "govuk_publishing_components/components/heading", {
  text: "Change failure for deployment #{@deployment.version}",
  font_size: "xl",
  heading_level: 1,
  margin_bottom: 8
} %>

<p><strong>Description:</strong> <%= @change_failure.description %></p>

<%= link_to "Edit", edit_deployment_change_failure_path(@deployment), class: "govuk-button" %>
<%= link_to "Delete", deployment_change_failure_path(@deployment), method: :delete, data: { confirm: "Are you sure?" }, class: "govuk-button govuk-button--warning" %>
