<p>Enter release details.</p>

<%= semantic_bootstrap_nested_form_for @release, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :notes, label: "Notes", input_html: { class: "input-xxlarge", :rows => 5 } %>
    <%= f.input :deploy_at, :label => "Deploy at" %>
  <% end %>

  <%= f.semantic_fields_for :tasks do |task| %>
    <%= task.inputs "Task", :class => "task" do %>
      <%= task.input :application_id, :as => :select, :collection => Application.all %>
      <%= task.input :description, :as => :string %>
      <%= task.input :version %>
      <li><%= task.link_to_remove "Remove this task" %></li>
    <% end %>
  <% end %>
  <p><%= f.link_to_add "Add a task", :tasks %></p>

  <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>
