<%= semantic_bootstrap_nested_form_for @release do |f| %>
  <%= f.semantic_errors :tasks, :summary, :notes, :deploy_at, :class => "alert alert-error" %>

  <%= f.inputs do %>
    <%= f.input :summary, input_html: { class: "input-md-6", :rows => 5 } %>
    <%= f.input :notes, label: "Additional notes", input_html: { class: "input-md-6", :rows => 5 } %>
    <%= f.input :product_team_members, input_html: { class: "input-md-6", :rows => 5 } %>
    <%= f.input :additional_support_notes, input_html: { class: "input-md-6", :rows => 5 } %>
    <%= f.input :deploy_at, as: "js_datetime_picker", wrapper_options: { class: 'date input-md-6', 'data-date-format' => 'DD/MM/YYYY HH:mm', id: 'datetimepicker1' }, append: content_tag(:span, '', class: "glyphicon glyphicon-calendar") %>
  <% end %>

  <div class="controls tasks-group">
    <%= f.semantic_fields_for :tasks do |task| %>
      <%= task.inputs "Task", :class => "task" do %>
      <%= task.link_to_remove "Remove this task", :class => "btn btn-danger remove-task" %>
        <%= task.input :application_id, :as => :select, :collection => Application.all, input_html: { class: 'input-md-6' } %>
        <%= task.input :description, :as => :string, input_html: { class: 'input-md-6' } %>
        <%= task.input :version, input_html: { class: 'input-md-6 version-typeahead' } %>
      <% end %>
    <% end %>
    <%= f.link_to_add "Add a task", :tasks, :class => "btn btn-default new-task" %>
  </div>

  <hr/>
  <%= f.actions do %>
      <%= f.action :submit, :as => :button, button_html: { class: 'btn btn-default' } %>
  <% end %>
<% end %>
