<%= semantic_bootstrap_nested_form_for @release do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :notes, label: "Notes", input_html: { class: "input-xxlarge" } %>
    <%= f.input :deploy_at, :label => "Deploy at" %>
  <% end %>

  <%= f.semantic_fields_for :tasks do |task| %>
    <div class="well">
      <%= task.inputs "Task" do %>
        <%= task.input :description, :as => :string %>
        <%= task.input :version %>
        <%= task.input :application_id, :as => :select, :collection => Application.all %>
      <% end %>
      <p><%= task.link_to_remove "Remove this task" %></p>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add a task", :tasks %></p>

  <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>
