<% content_for :page_title, "Release #{@release.id}"  %>

<h1><%= "Release #{@release.id}" %></h1>

<blockquote class="summary"><%= @release.summary %></blockquote>

<dl>
  <dt>Notes:</dt>
  <dd><%= @release.notes %></dd>
  <dt>Requested by:</dt>
  <dd><%= @release.user.present? ? @release.user.name : "Nobody" %></dd>
  <dt>Product team members:</dt>
  <dd><%= @release.product_team_members %></dd>
  <dt>Additional support notes:</dt>
  <dd><%= @release.additional_support_notes %></dd>
</dl>

<h3>Tasks</h3>

<table class="table" id="tasks">
  <tbody>
    <% @release.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.application.name, application_path(task.application) %> <span class='label'><%= task.version %></span></td>
        <td><%= task.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @release.id }, class: "btn btn-default" %>
</div>
