<% content_for :page_title, @application.name %>

<div class="release__application-header">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      root_crumb,
      application_node_crumb(application: @application),
      {
        title: "#{@application.name} recent deployments"
      }
    ]
  } %>
  <%= render "govuk_publishing_components/components/title", {
    title: "Deploy #{@application.name}",
    context: @application.shortname,
    margin_bottom: 2
  } %>
  <%= render partial: "applications/provider_badge", locals: { application: @application } %>
</div>

<%= render "components/tabs", {
  tabs: [
    {
      href: @application,
      label: "Deploy status",
    },
    {
      href: edit_application_path(@application),
      label: "Edit",
    },
    {
      href: application_deployments_path(@application),
      label: "Recent deployments",
      active: true,
    },
    {
      href: stats_application_path(@application),
      label: "Stats",
    }
  ]
} %>

<%= render "govuk_publishing_components/components/button", {
  text: "Record a missing deployment",
  href: new_application_deployment_path(@application),
  margin_bottom: true
} %>

<%= render "deployments_list", deploys: @deployments %>
