<% content_for :page_title, @application.name %>

<div class="page-header">
  <h1 class="remove-bottom-margin">
    <span class="name"><%= @application.name %> deployments</span>
    <span class="shortname">(<%= @application.shortname %>)</span>
  </h1>
</div>

<ul class="tabs">
  <li>
    <%= link_to "Deploy status", @application %>
  </li>
  <% if current_user.may_deploy? %>
    <li>
      <%= link_to "Edit", edit_application_path(@application) %>
    </li>
  <% end %>
  <li class="active">
    <%= link_to "Recent deployments", application_deployments_path(@application) %>
  </li>
</ul>

<%= link_to "Record a missing deployment", new_application_deployment_path(@application), class: "govuk-button" %>

<ul class="list-group activity-list">
  <% @deployments.each do |deployment| %>
    <li class="list-group-item deployment to_<%= deployment.environment %>">
      <h2>
        <em><%= github_tag_link_to(@application, deployment.version) %></em>
        to <em><%= deployment.environment %></em>
      </h2>
      <p><%= human_datetime deployment.created_at %></p>
    </li>
  <% end %>
</ul>
