<% content_for :page_title, @application.name %>

<div class="page-header">
  <h1 class="remove-bottom-margin">
    <span class="name"><%= @application.name %> deployments</span>
    <span class="shortname">(<%= @application.shortname %>)</span>
    <%= render partial: "applications/provider_badge", locals: { application: @application } %>
  </h1>
</div>

<ul class="tabs">
  <li>
    <%= link_to "Deploy status", @application %>
  </li>
  <li>
    <%= link_to "Edit", edit_application_path(@application) %>
  </li>
  <li class="active">
    <%= link_to "Recent deployments", application_deployments_path(@application) %>
  </li>
  <li>
    <%= link_to "Stats", stats_application_path(@application) %>
  </li>
</ul>

<%= link_to "Record a missing deployment", new_application_deployment_path(@application), class: "govuk-button" %>

<%= render "deployments_list", deploys: @deployments %>
