<% content_for :page_title, "Manually record a deployment" %>

<h1>Manually record a deployment</h1>

<p class="lead">
  All deployments should be automatically recorded from a push notification,
  but if that fails, use this form.
</p>

<%= simple_form_for @deployment do |f| %>
  <%= f.input :application_id, as: :select, collection: Application.all %>
  <%= f.input :environment, required: "required", input_html: { class: "form-control" }%>
  <%= f.input :version, required: "required", input_html: { class: "form-control" } %>
  <%= f.input :created_at, label: "Deployed at" %>
  <%= f.submit class: "btn btn-success" %>
<% end %>
