<%= render "govuk_publishing_components/components/breadcrumbs",
{
  breadcrumbs: [
    root_crumb,
    { title: "Recent deployments", url: activity_path },
    { title: "Deploy #{@deployment.id} for #{@deployment.application.name}" },
  ],
} %>

<%= render "govuk_publishing_components/components/heading",
{
  text: "Deploy ##{@deployment.id}",
  font_size: "xl",
  heading_level: 1,
  margin_bottom: 8,
} %>

<% if @deployment.change_failure? %>
  <%= render "govuk_publishing_components/components/notice", {
    title: "This deployment has been marked as a change failure.",
  } %>
<% end %>

<div class="govuk-body">
  <p><span class="govuk-!-font-weight-bold">Application:</span>
    <%= @deployment.application.name %></p>
  <p><span class="govuk-!-font-weight-bold">Environment:</span>
    <%= @deployment.environment %></p>
  <p><span class="govuk-!-font-weight-bold">Deployed by:</span>
    <em>Not recorded</em></p>
  <p><span class="govuk-!-font-weight-bold">Deployed at:</span>
    <%= @deployment.created_at %></p>
  <% if @deployment.previous_deployment %>
    <p><span class="govuk-!-font-weight-bold">Previous version:</span>
      <%= @deployment.previous_version %>
      <% previous_sha = @deployment.previous_deployment.commits.first&.sha %>
      <% unless previous_sha && @deployment.previous_version.start_with?(previous_sha) %>
        (<%= previous_sha || "unknown SHA" %>)
      <% end %>
    <p><span class="govuk-!-font-weight-bold">Deployed version:</span>
        <%= @deployment.version %>
        <% deployed_sha = @deployment.commits.first&.sha %>
        <% unless deployed_sha && @deployment.version.starts_with?(deployed_sha) %>
          (<%= deployed_sha || "unknown SHA" %>)
        <% end %>
    <p><span class="govuk-!-font-weight-bold">Commits:</span>
      <%= @deployment.commits.count %>
      (<%= link_to "Diff URL", @deployment.diff_url, class: "govuk-link" %>)</p>
    <p><span class="govuk-!-font-weight-bold">Pull requests:</span>
      <%= @deployment.commits.count(&:pr?) %></p>
    <p><span class="govuk-!-font-weight-bold">Authors:</span>
      <%= to_sentence @deployment.commits.map(&:author_name).compact.uniq %></p>
  <% end %>

  <% if @deployment.can_mark_as_change_failure? %>
    <div class="govuk-!-margin-top-6">
      <%= form_with url: toggle_change_failure_deployment_path(@deployment), method: :patch, local: true do %>
        <% if @deployment.change_failure? %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Unmark as change failure",
            secondary: true,
          } %>
        <% else %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Mark as change failure",
            destructive: true,
          } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/commits_table", commits: @deployment.commits %>
