<% content_for :page_title, 'Site settings' %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Site settings"
    }
  ]
} %>

<%= render "govuk_publishing_components/components/title", {
  title: "Site settings"
} %>

<%= simple_form_for site_settings, url: site_path, method: 'patch' do |f| %>
  <%= f.input :status_notes, label: "Notes", as: :text %>
  <p>Notes should be 255 characters or fewer.</p>
  <%= f.button :submit, value: "Save settings", class: 'btn btn-success' %>
<% end %>
